body {
    width: 100%;
    text-align: center;
}


img {
    max-width: 50%;
    margin-right: 12.5%;
    margin-left: 12.5%;
}

button {
    border-width: 0;
}

.search_bar {
    text-align: left;
    width: 45%;
    margin-right: 17.5%;
    margin-left: 17.5%;
}

.search_buttons {
    text-align: center;
}