body {
    width: 100%;
    text-align: center;
}


img {
    max-width: 50%;
    margin-right: 12.5%;
    margin-left: 12.5%;
}

button {
    border-width: 0;
    background-color: #F2F2F2;
    min-height: 36px;
    min-width: 125px;

    margin-right: 4px;
    margin-left: 4px;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    -ms-border-radius: 4px;
}

.search_bar {
    text-align: left;
    width: 45%;
    margin-right: 17.5%;
    margin-left: 17.5%;
    margin-top: 20px;
    margin-bottom: 20px;

}

.search_buttons {
    text-align: center;
}